.container {
    font-family: Author;
    font-size: 16px;
    color: #989FAE;
    padding: 20px;
    height: 100%;
    text-overflow: scroll;
}

.container h1 {
    font-family: Outfit;
    color: #bdc2cb;
}

.container ul {
    margin-left: 16px;
}

.container p {
    line-height: 1.5;
    margin-bottom: 5px;
}