.container {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    user-select: none;
    -webkit-user-select: none;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bar {
    padding-left: 10px;
    transition: 0.1s ease;
    flex-grow: 1;
    text-overflow: ellipsis;
    transition: 0s;
}

.bar:hover {
    cursor: pointer;
    background: #bdc2cb1a;
}

.selected {
    background: #bdc2cb1a;
}

.menu {
    margin-left: 20px;
}

.caret {
    height: 24px;
    aspect-ratio: 1/1;
    background-color: #bdc2cb30;
    z-index: 100;
    transition: 0.3s ease;
}

.caret:hover {
    cursor: pointer;
    background-color: #bdc2cb50;
}