.container {
    position: relative;
    width: 80px;
    height: 100%;
}

.sidebarWrapper {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.sidebar {
    height: fit-content;
    width: 80px;

    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 20px;
}

.navButton {
    width: 100%;
    aspect-ratio: 1/1;

    cursor: pointer;
}

.buttonLabel {
    width: fit-content;
    font-size: 14px;
    color: #bdc2cb;
    font-family: Outfit;
    font-weight: 600;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.panel {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 250px;
    overflow-y: auto;
    background: #1d1e20d1;
    will-change: transform;

    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    z-index: 1;
}

.panelOpen {
    /*display: block;*/
    animation: panelOpenAnimation 0.5s forwards;
}

@keyframes panelOpenAnimation {
    0% { 
        transform: translateX(-101%);
    }
    100% {
        transform: translateX(0%);
    }
}

.panelClosed {
    /*display: none;*/
    animation: panelClosedAnimation 0.5s forwards;
}

@keyframes panelClosedAnimation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-101%);
    }
}

.bar {
    position: sticky;
    top: 0px;

    height: 30px;
    width: 100%;

    padding-left: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #303132;
    z-index: 1000;
}

.board {
    position: relative;

    height: 100%;
    width: calc(100% - 80px);

    background: #bdc2cb10;
    border-radius: 20px 20px 0 0;
}

.maskWrapper {
    position: absolute;
    top: 0; left: 80px;
    height: 100%;
    width: 250px;
    overflow: hidden;
}

.hierarchy {
    height: fit-content;
    padding-top: 10px;
}

@media (max-width: 600px) {
    .container {
        width: 50px;
    }
    .sidebar {
        width: 50px;
        padding: 10px;
    }
    .buttonLabel {
        font-size: 12px;
    }
    .board {
        width: calc(100% - 50px);
    }
    .maskWrapper {
        left: 50px;
    }
}