.container {
    position: relative;
    width: 80px;
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 80px;

    display: flex;
    flex-direction: column;
    gap: calc(min(30px, max(3%, 10px)));
    padding: 20px;
}

.navButton {
    width: 100%;
    aspect-ratio: 1 /1;

    cursor: pointer;
}

.panel {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 250px;
    overflow: hidden;
    background: #1d1e20d1;
    will-change: transform;

    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    z-index: 1;
}

.panelOpen {
    /*display: block;*/
    animation: panelOpenAnimation 0.5s forwards;
}

@keyframes panelOpenAnimation {
    0% { 
        transform: translateX(-101%);
    }
    100% {
        transform: translateX(0%);
    }
}

.panelClosed {
    /*display: none;*/
    animation: panelClosedAnimation 0.5s forwards;
}

@keyframes panelClosedAnimation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-101%);
    }
}

.bar {
    height: 30px;
    width: 100%;

    padding-left: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #bdc2cb20;
}

.board {
    position: relative;

    height: 100%;
    width: calc(100% - 80px);

    background: #bdc2cb10;
    border-radius: 20px 20px 0 0;
}

.maskWrapper {
    position: absolute;
    top: 0; left: 80px;
    height: 100%;
    width: 250px;
    overflow: hidden;
}

.hierarchy {
    padding-top: 10px;
}