.container {
    background-color: var(--color-foreground);
    width: 100vw;
    height: 75vh;
    position: relative;
    overflow: hidden;
}

.title {
    background: url("/images/title.svg") no-repeat;
    width: 175%;
    aspect-ratio: 4567/498;
    height: auto;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}