@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

:root {
  --background: #100d08;
  --foreground: #eae5e3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-head: var(--font-chillax);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}
*/

* {
  margin: 0;
  padding: 0;
  gap: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
