.container {
    font-family: Author;
    font-size: 16px;
    color: #989FAE;
    padding: 20px;
}

.container h1 {
    font-family: Outfit;
    color: #bdc2cb;
}

.container h2 {
    color: #bdc2cb;
}

.container ul {
    margin-left: 16px;
}

.container p {
    line-height: 1.5;
    margin-bottom: 5px;
}