.container {
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.ripple {
    transform-box: fill-box;
    transform-origin: center;
    animation: ripple 3s ease infinite;
    animation-delay: 0s;
    transition: transform 0.3s ease;
}

.ripple:nth-child(odd) {
    animation-delay: 0.3s;
}

.stop:hover {
    cursor: pointer;
}

.stop:hover .ripple {
    animation: ripple 1.5s ease infinite;
}

.stop:hover .ripple:nth-child(odd) {
    animation-delay: 0.75s;
}

.core {
    transform-box: fill-box;
    transform-origin: center;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.stop:hover .core {
    transform: scale(1);
}

@keyframes ripple {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.3;
        transform: scale(0.7);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

.topicBox {
    transform: translate(-50%, -50%);
    width: calc(50*min(100%,1024px)/100);
    height: fit-content;
    overflow-y: scroll;

    background-color: #bdc2cb;
    color: var(--color-background);
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.scrollShadow {
    transform: translate(-50%, -50%);
    width: calc(50*min(100%,1024px)/100);
    height: 10%;
    border-radius: 10px;

    background: linear-gradient(to bottom, transparent 75%, #bdc2cb 100%);
    pointer-events: none;
    z-index: 2;
}

.fontSmall {
    font-size: 16px;
}

.fontBig {
    font-size: 24px;
    line-height: 1.1;
}

.button {
    width: fit-content;
    padding: 10px;
    color: var(--color-background);
    border: 2px solid #989FAE;
    box-shadow: 0 5px 0 0 var(--color-background);
    transition: 0.5s ease;
}

.button:hover {
    background-color: #989FAE;
    box-shadow: none;
    transform: translateY(5px);
}