.container {
    height: 115px;
    width: 100vw;

    position: sticky;
    top: 0;

    z-index: 800;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.glassTicket {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    border: 3px solid var(--color-background);
    box-shadow: inset 0 10px 0 0 gray;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.logo {
    height: 100%;
    aspect-ratio: 1/1;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.menu {
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.link {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;

    font-family: "Outfit";
    font-weight: bold;
    color: var(--color-background);

    box-shadow: 0 5px 0 0 var(--color-background);
    transition: 0.5s ease;
}

.link:hover {
    background-color: var(--color-background);
    color: #bdc2cb;
    box-shadow: none;
    transform: translateY(5px);
}

.face {
    background: url("/images/face.svg") center / contain;
    height: 75%;
    aspect-ratio: 1/1;
    width: auto;

    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
}