.h1 {
    font-family: Outfit;
    color: #bdc2cb;
}

.h2 {
    font-family: Author;
    color: #bdc2cb;
    font-size: 24px;
}

.h3 {
    font-family: Author;
    color: #bdc2cb;
}

.h4 {
    font-family: Author;
    color: #bdc2cb;
}

.h5 {
    font-family: Author;
    color: #bdc2cb;
}

.h6 {
    font-family: Author;
    color: #bdc2cb;
}

.p {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    
    line-height: 1.5;
    margin-bottom: 5px;
}

.strong {
}

.em {
}

.br {
}

.blockquote {
}

.ul {
    margin-left: 16px;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    
    line-height: 1.5;
    margin-bottom: 5px;
}

.ol {
    margin-left: 16px;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    
    line-height: 1.5;
    margin-bottom: 5px;
}

.code {
}

.table {
    width: fit-content !important;
    border-spacing: fixed !important;
}

.th {
    padding: 3px 10px 3px 10px !important;
    text-align: center !important;
}

.td {
    padding: 5px 10px 5px 10px !important;
    text-align: center !important;
}