.layered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    aspect-ratio: 2/1;

    background: #bdc2cb;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    border-radius: 10px;
    z-index: 1;
}

.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    padding: 20px;
    color: var(--color-background);
}