.layered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    aspect-ratio: 2/1;

    background-color: #bdc2cb;
    border-radius: 10px;
    z-index: 1;
}

.mainSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    padding: 20px;
    color: var(--color-background);
}