.container {
    height: 100%;
    width: 175px;
    aspect-ratio: 4607/538;
    position: relative;
    overflow: hidden;
}

.title {
    background: url("/images/title.svg") no-repeat;
    height: 60%;
    aspect-ratio: 4567/498;
    
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media (max-width: 600px) {
    .container {
        display: none;
    }
}