.container {
    width: 100vw;
    aspect-ratio: 4607/538;
    min-height: 75vh;
    position: relative;
    overflow: hidden;
}

.title {
    background: url("/images/title.svg") no-repeat;
    width: 175%;
    aspect-ratio: 4567/498;
    height: auto;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.titleBack {
    background: url("/images/title_white.svg") no-repeat;
    width: 175%;
    aspect-ratio: 4607/538;
    height: auto;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}