.container {
    width: 100vw;
    aspect-ratio: 2/1;
    position: relative;
    overflow: hidden;
}

.sceneLeft {
    width: 100%;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    position: absolute;
}

.sceneRight {
    width: 100%;
    perspective: 1000px;
    perspective-origin: 0% 50%;
    position: absolute;
}

.mountain {
    background: url("/images/mountain2.svg") center/contain no-repeat;
    width: 50%;
    aspect-ratio: 2/1;
    height: auto;
    position: absolute;
    transform-style: preserve-3d;
}

.train {
    background: url("/images/train.svg") center/contain no-repeat;
    width: 30%;
    aspect-ratio: 1/1;
    height: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}