.container {
    width: 100vw;
    height: 100dvh;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(to bottom, var(--color-background) 0%, #09142A 75%);
    overflow-x: hidden;
}

.article {
    position: relative;

    width: 80%;
    max-width: 1000px;
    height: 100%;

    background-color: #bdc2cb10;
    border-radius: 20px 20px 0 0;

    overflow-y: scroll;
}

@media (max-width: 800px) {
    .article {
        width: 100%;
        border-radius: 0;
    }
}

.takeaways {
}