.container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 100%;

    align-items: center;
}

.list {
    width: 80%;
    max-width: 1000px;
    border-radius: 50px;
    table-layout: fixed;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

    width: 100%;
    height: 40px;

    font: 600 16px Chillax;
    color: #989FAE;

    background-color: #bdc2cb30;

    border-radius: 10px 10px 0 0;
}

@media (max-width: 800px) {
    .list {
        width: 100%;
    }

    .header {
        border-radius: 0;
    }
}

.item {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

    width: 100%;
    height: 35px;

    font: 16px Outfit;
    color: #bdc2cb;

    background-color: #bdc2cb10;

    transition: 0.3s ease;
}

.item:hover {
    background-color: #bdc2cb20;
}

.indexCol {
    width: 30px;
    text-align: left;
    padding: 0 0 0 10px;
    
    font: 600 16px Courier;
    color: #bdc2cb70;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titleCol {
    width: 30%;
    /*min-width: 200px;*/
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titles {
    color: #b2c0da;
}

.sourceCol {
    width: 75px;
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.diffCol {
    height: 30px;
    aspect-ratio: 1/1;
    padding: 8px 16px 8px 0px;
}

.tagsCol {
    flex: 1;
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.centerTags {
    padding: 0 0 2px 0;
}