.container {
    font-family: Author;
    font-size: 16px;
    color: #989FAE;
    padding: 20px;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.container h1 {
    font-family: Outfit;
    color: #bdc2cb;
    line-height: 0.9;
}

.topInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.source {
    font-family: Outfit;
    font-weight: 900;
}

.titleBox {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
}

.tagContainer {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    flex-wrap: wrap;
}

.linkBox {
    height: 25px;
    padding: 3px;
    transition: 0.3s ease;
}

.linkArrow {
    background: url("/images/arrow.svg") center/contain no-repeat;
    height: 100%;
    aspect-ratio: 1/1;
}