.container {
    font-family: Author;
    font-size: 16px;
    color: #989FAE;
    padding: 20px;
    height: 100%;
    max-width: 100%;
}

.container h1 {
    font-family: Outfit;
    color: #bdc2cb;
}