.tag {
    --tag-height: 25px;

    width: fit-content;
    height: var(--tag-height);

    padding: 0 10px 0 10px;

    border-radius: var(--tag-height);
    font-weight: 500;

    text-align: center;
    display: flex;
    align-items: center;
}

.smallTag {
    padding: 0 5px 0 5px;
    border: 2px solid #bdc2cb;
    border-radius: 20px;

    font-size: 12px;
    font-weight: 500;
    color: #bdc2cb;
    background-color: #bdc2cb30;

    margin-right: 8px;
}