.tag {
    --tag-height: 25px;

    width: fit-content;
    height: var(--tag-height);

    padding: 0 10px 0 10px;

    border-radius: var(--tag-height);
    font-weight: 500;

    text-align: center;
    display: flex;
    align-items: center;
}