.takeaways {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 100%;
    height: 40px;

    font-size: 16px;
    font-family: Panchang;
    font-weight: 800;
    color: var(--color-background);

    background-color: #6564DB;
    transition: all 0.3s ease;
}

.takeaways:hover {
    cursor: pointer;
    font-size: 17px;
    background-color: #4C49D4;
}

.overlay {
    position: sticky;
    top: 0;
    z-index: 2000;

    width: 100%;

    display: flex;
    flex-direction: column;
}

.openContent {
    display: block;
    transform: translateY(0%);
    opacity: 1;
    transition: all 0.3s ease;
}

.closeContent {
    display: none;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s ease;
}

.popOut {
    height: fit-content;
    width: 100%;

    background-color: #272b34;
    transition: all 0.3s ease;

    border: 5px solid #4C49D4;
    border-top: none;
}

.bodyText {
    font-family: Author;
    width: 100%;
    padding: 20px;
}

.upCaret {
    background: url("/images/up.svg") center / contain;
    height: 50%;
    aspect-ratio: 1/1;
    width: auto;
    transform: translateY(25%);
}

.downCaret {
    background: url("/images/down.svg") center / contain;
    height: 50%;
    aspect-ratio: 1/1;
    width: auto;
    transform: translateY(-25%);
}