.container {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

.interface {
    position: relative;
    width: 100vw;

    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.board {
    position: relative;

    height: 100%;
    width: calc(100% - 80px);
    max-width: 1200px;

    background: #bdc2cb10;
    border-radius: 20px 20px 0 0;

    overflow-y: scroll;
}