.container {
    width: 100dvw;
    height: 100dvh;
    
    display: flex;
    flex-direction: column;
}

.interface {
    position: relative;
    width: 100dvw;

    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.board {
    position: relative;

    height: 100%;
    width: calc(100% - 80px);
    max-width: 1200px;

    background: #bdc2cb10;
    border-radius: 20px 20px 0 0;

    overflow-y: scroll;
}

@media (max-width: 600px) {
    .board {
        width: calc(100% - 50px);
    }
}